.pevnev-statistic-cities-widget-block {
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 25px;
}

.pevnev-statistic-cities-widget-block .title{
    position: relative;
    display: inline-block;
    text-align: center;
    color: #707070;
    font-family: 'Arial';
    font-size: 22px;
    width: 100%;
}

.pevnev-statistic-cities-widget-block .range-choice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.pevnev-statistic-cities-widget-block .range-choice > a {
    display: inline-block;
    line-height: 1.428571;
    margin: 0px 20px;
    text-align: center;
    width: calc(100% / 3);
    overflow: hidden;
}

.pevnev-statistic-cities-widget-block .range-choice > a > span {
    border-bottom: 1px dashed;
}

.pevnev-statistic-cities-widget-block .range-choice a.active {
    font-weight: bold;
}

.pevnev-statistic-cities-widget-block .no-found {
    position: absolute;
    display: inline-block;
    text-align: center;
    color: #707070;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Arial';
    font-size: 22px;
    width: 100%;
}

.pevnev-statistic-cities-widget-block .fa-circle-o-notch {
    color: #969696;
    position: absolute;
    display: inline-block;
    top: calc(50% - 21px);
    left: calc(50% - 21px);
}